body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #e6dcc9;
    display: flex;
    flex-direction: column;
}

/* MENU */
.menu {
    width: 100%;
    background: linear-gradient(#cfe3b0, #b7d48a);
    padding: 20px;
    box-sizing: border-box;
}

.menu h2 {
    text-align: center;
}

.menu button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 12px;
    border: none;
    background-color: #6f9444;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.menu button:hover {
    background-color: #5c7c37;
}

/* CONTEÚDO */
.conteudo {
    padding: 20px;
}

/* TOPO */
.topo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pesquisa input {
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #999;
}

/* LISTA DE LIVROS */
.lista-livros {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

/* CARD */
.livro {
    background-color: #f4f1e8;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 650px;
}

/* IMAGEM */
.livro img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 8px;
}

/* TÍTULO */
.livro h3 {
    min-height: 70px;
    margin-top: 15px;
}

/* AUTOR */
.livro p {
    margin: 10px 0;
}

/* STATUS */
.status {
    background-color: #cfe3b0;
    padding: 8px;
    border-radius: 10px;
    margin: 10px auto;
    width: 140px;
    font-weight: bold;
}

/* BOTÃO */
.botao {
    background-color: #6f9444;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    width: 140px;
    margin: 10px auto;
    display: block;
    font-size: 15px;
}

.botao:hover {
    background-color: #5c7c37;
}

.botao:disabled {
    background-color: #999;
    cursor: not-allowed;
}

/* TABLET */
@media (min-width: 768px) {

    .topo {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .pesquisa input {
        width: 250px;
    }

    .lista-livros {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* COMPUTADOR */
@media (min-width: 1024px) {

    body {
        flex-direction: row;
    }

    .menu {
        width: 220px;
        height: 100vh;
    }

    .conteudo {
        flex: 1;
        padding: 30px;
    }

    .pesquisa input {
        width: 300px;
    }

    .lista-livros {
        grid-template-columns: repeat(4, 1fr);
    }
}